body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(351, 100%, 84%);
    padding-top: 50px;
}

#calculator{
    margin-top: 25px;
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 20%);
    border-radius: 25px;
    max-width: 550px;
    overflow: hidden;
    box-shadow: 0 4px 30px hsl(0, 0%, 100%);
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 4em;
    color: white;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 25%);
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px; 
}

#ac{
    width: 100px;
}

#goood{
    color: white;
    font-size: 7em;  
    margin: auto;
    text-align: center;
    align-self:baseline;
    position: absolute;
    margin-top: 100px;
}


#event-header{
    padding: 25px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 15px;
    font-family: arial, sans-serif;
    text-align: left;
    color: white;
    align-self:baseline;
    position: absolute;
    margin-bottom: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 40px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3em;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 4px 15px hsl(0, 0%, 50%);
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator{
    background-color: hsl(0, 70%, 65%);
    box-shadow: 0px 4px 15px hsl(0, 70%, 55%);
}

.operator:hover{
    background-color: hsl(0, 70%, 75%);
}

.operator:active{
    background-color: hsl(0, 70%, 85%);
}